ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0%;
    padding: 0%;
}

.list-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

li {
    font-size: 1.5rem;
    list-style: none;
}

.round-red {
    width:  20px;
    height: 20px;
    margin-left: 1rem;
    background-color:  red;
    border-radius: 100%;
}

.round-gray {
    width:  20px;
    height: 20px;
    margin-left: 1rem;
    background-color:  gray;
    border-radius: 100%;
}

.round-blue {
    width:  20px;
    height: 20px;
    margin-left: 1rem;
    background-color: rgb(81, 81, 218);
    border-radius: 100%;
}