.table-buttons {
    cursor: pointer;
    display: flex;
    padding: 15% 0% 0% 0%;
    justify-content: center;
    height: 120px;
    width: 130px;
    font-size: 1.4rem;
    border-radius: 5%;
    border: none;
}


.invisible {
    cursor: pointer;
    /* display: none; */
    padding: 0% 0% 15% 0%;
    justify-content: center;
    height: 120px;
    width: 130px;
    font-size: 1.4rem;
    border-radius: 5%;
    border: none;
    background-color: blanchedalmond;
}

tbody {
    display: flex;
    flex-direction: column;
}

tr {
    display: flex;
    /* margin: 10px; */
    justify-content: space-between;
}
td {
    margin: 1rem;
}